/* main: style.scss */
html{
  background: #242424;
}

body{
  background: #ebe2d5;
  background: #f6f2eb;
}

.pageFixed {
  position: fixed;
}

p{
  margin-bottom: 0.5rem;

  &:last-of-type{
    margin-bottom: 0;
  }
}

figcaption{
  font-size: 0.85rem;
  padding: 0.5rem 0;
  max-width: 80%;
}

.button.is-text{
  text-decoration: none;
}

.subtitle{
  font-weight: 600;
}

.title a{
  color: $black;
}

.navbar{
  .navbar-item img {
    max-height: 60px;
    padding: 5px 0;
  }
  .button.is-primary{
    background: transparent;
  }
  .search-icon{
    color: $text;
  }
  .navigation{
    display:flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;

    li{
      display: block;
      line-height: 1.5;
      padding: 0.5rem 0.75rem;
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      height: 100%;
      font-size:0.9rem;
      font-weight: 400;

      @media screen and (min-width: 1024px){
        align-items: center;
        display: flex;
      }

      a{
        color: #333333;
        font-weight: bold;
        font-family: $family-secondary;
      }
    }
  }

  .site-title{
    font-family: $family-secondary;
    font-weight: 300;
    font-weight: 300;
    font-size: 1.4rem;
  }
}

.navbar.is-white .navbar-brand > a.navbar-item:hover{
  background: transparent;
}

.navbar-brand a{
  font-weight: 800;
  font-family: $family-secondary;
}

.navbar-burger {
  right: 10px;
  width: 50px;

  span {
    width: 35px;
    left: 7.5px;
  }

  span:nth-child(1) {
    top: calc(50% - 9px);
  }

  span:nth-child(3) {
    top: calc(50% + 8px);
  }
}

@media screen and (min-width: 1024px) {
  .pageFixed {
    position: unset;
  }
}

//modal-menu
.field.has-addons .control:not(:last-child){
  width: 100%;
}

.modal{
  .modal-content {
    padding: 0 1.5rem;

    .input{
      padding:1rem;
      border-radius: 0;
    }
  
    .navigation{
      padding-top: 1rem;
      padding-bottom: 1rem;
  
      li{
        padding-top: 0.5rem;
        font-family: $family-secondary;
        font-style: italic;
        font-size: 1.2rem;
  
        ul{
          padding-top: 0;
          padding-left: 1rem;
        }
      }
      a{
        color:white;
      }
    }

    a {
      color: white;
    }
  }

  .burger-menu-close.is-large {
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    padding: 0;
  }

  .burger-menu-close.is-large::before {
    width: 100%;
  } 

  .burger-menu-close.is-large::after {
    height: 100%;
  }
}

//breadcrumb
.breadcrumb-section{
  padding-top: 2rem;
  padding-bottom: 0rem !important;
  font-weight: 300;

  .breadcrumb{
    font-size: 0.9rem;
    margin-bottom: 0.8rem;

    li::before {
      padding:0 0.3em;
    }

    li {
      word-wrap: break-word;
      max-width: 100%;
      white-space: pre-wrap;
      align-items: unset;
    }

    a{
      padding: 0;
    }
  }
}

.breadcrumb-section a::before{
  padding: 0;
}

.breadcrumb-section nav a + a::before {
    color: #b5b5b5;
    content: "-";
}

.sorting{
  button{
    line-height: 0 !important;
    height: 2.3rem;
  }

  select{
    padding:0.5rem;
  }
}

//catches blocks without templates like html & pageTitle
.no-section{
  h2{
    font-size: 2.5rem;
    font-family: $family-secondary;
  }
  padding-bottom: 2rem;
}

.text-only{
  .title{
    margin-bottom: 2rem;
  }

  .content{
    background: white;
    padding:1.5rem;
  }

  p{
    margin-bottom:1rem;
  }

  p:last-of-type{
    margin-bottom: 0;
  }
}

.description-box{
  padding: 1.8rem;
  background: white;
}

.image-only{
  text-align: center;

  img{
    max-height: 400px;
  }
}

//hero
.hero-overlay{
  background: rgba($primary,0.1);
  //background: rgba($text,0.3);
  transition: all 400ms ease-out;

  &:hover{
    //background: rgba($primary,0.4);
  }
}
.hero.is-primary a.navbar-item:hover{
  background: none;
}
.hero-head{
  .navbar{
    //border-bottom: 1px solid $primary;

    .navigation{
      li{
        a{
          color: white;
        }
      }
    }
  }
}

.hero-body{
  padding: 1rem 2rem 4rem 2rem;

  .logo-column{
    img{
      width:80px;
      padding: 0.5rem 0 0 0;
    }
  }


  .hero-box{
    padding: 1rem;
    padding-left: 0;
  }

  .title {
    color: #fff !important;
    max-width: 700px;
    font-weight: 700;
    font-size: 3.5rem;
    word-break: normal;
  }

  .subtitle{
    max-width: 450px;
    font-weight: 600;
  }

  .hero-text{
    max-width: 700px;
    color:white;
    font-weight:500;
    //background: rgba($primary,0.8);

    p{
      font-size: 1rem;
    }

    .link{
      margin-top: 2rem;
      text-align: right;

      a{
        font-weight: bold;

        i{
          margin-right: 6px;
        }
      }
    }
  }
}

//card
.card{
  border: none;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.08);
  padding-bottom: 0.5rem;

  .card-header{
    box-shadow: none;
    font-weight: 500;

    .card-header-title{
      padding: 1.5rem;
      padding-bottom: 1rem;
      font-weight: 500;
      transition: all 400ms ease-out;

      span{padding-bottom:0.2rem;
        //border-bottom: 2px solid $primary;
      }
    }

    .thema-header{
      span{border-bottom: none;}
    }
  }

  .card-top{
    padding: 1rem 1.5rem;
    box-shadow: none;
  }

  .card-bg{
    transition: all 400ms ease-out;
  }

  .card-footer{
    //border-bottom: 2px solid rgba($primary,0.4);
  }

  .card-content{
    padding: 0 1.5rem 2rem 1.5rem;
    padding-top: 0;
  }

  .card-bg-img-2, .card-bg-img-4{
    height: 200px;
  }

  .card-bg-img-3{
    height: 250px;
  }

  footer{
    justify-content: right;
    background: #fff;
    border: none;
    padding: 0;
  }
}

.card-link-wrapper{
  transition: all 400ms ease-out;
  color:$text;
  background: #fff;
}

.card-link-wrapper:hover{
  .card-bg{
    opacity: 0.8;
  }
}

.text-box{
  padding: 1.5rem;
  background: white;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.08);
  margin-bottom: 1rem;

  h4{
    line-height: 1.5 !important;
  }
}

//browse-block
.search-block {
  .buttons-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
  }
}

.browse-text{
  padding: 2rem 2rem 1rem 2rem;
  background: white;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.08);

  input{
    border: none;
    background: #eee;
    background: rgba(0,0,0,0.08);
  }
}

.title.is-3 {
    font-size: 2rem;
    font-weight: 300;
}


//overlay columns
.featured-block{
  min-height: 320px;
  position: relative;
  padding: 2rem;
  transition: all 400ms ease-out;

  &:hover{
    opacity: 0.8;
  }

  a{color:white;}

  .content-type{
    font-weight: 600;
  }

  .overlay{
    position: absolute;
    bottom: 2rem;

    .title{
      max-width: 350px;
    }

    p, .subtitle{
      color:white;
      font-weight: 600;
    }
  }
}

.datering{
  font-size: 0.9rem;
  margin-bottom: 0.5rem !important;
  color: #666;
}

//pagination
.pagination{
  justify-content: center;
  margin: 1.5rem 0;

  .pagination-previous {
    order: 0;
  }

  .pagination-previous , .pagination-next {
    visibility: hidden;
    flex: 0;
  }

  .pagination-previous::before {
    content: '\f104';
  }

  .pagination-next::before {
    content: '\f105';
  }

  .pagination-next::before, .pagination-previous::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 30px;
    visibility: visible;
  }

  .row-count {
    display: none;
  }

  span{
    padding: 0 0.8rem;
    font-weight: 400;

  }

  form{
    padding: 0 5px;
    input{
      padding:0.6rem 0.3rem;
      font-size: 1rem;
      width:55px;
    }

    span{
      font-style: normal;
      padding:0;
    }
  }
}

.search-form{
  padding: 1.5rem;
  background: white;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .pagination {
    .row-count {
      display: unset;
    }
  }
}

//text-image block
.text-image-block{

  .text-first {
    display: flex;
    flex-direction: column-reverse;
  }

  .hightlight{
    height: 100%;
    .text{
      padding: 1.5rem !important;
      background: #fff;
    }
    line-height: 1.5 !important;
  }
}

@media screen and (min-width: 768px) {
  .text-image-block {
    .text-first {
      flex-direction: unset;
    }

    .text{
      padding: 0 1.5rem;
    }

    .hightlight-columns{
      align-items: center;
      justify-content: center;
  
      img{
        padding:1rem;
      }
  
      .column{
        line-height: 0;
      }
      
      figcaption{
        padding-left:1rem;
        margin-top: -0.8rem;
        line-height: 1.1;
      }
    }
  }
}

.sort-form{
  select{
    padding:0.6rem 0.3rem;
    font-size: 1rem;
  }
}

.metadata{
  font-size: 0.9rem;

  .column{
    padding: 0.5rem 0.75rem;
  }

  .title{
    line-height: 1.5;
    font-size: 0.9rem;
  }
}

.advanced-search.closed{
  visibility:hidden;
    opacity: 0;
    -moz-transition: opacity 1s, visibility 1.3s;
    -webkit-transition: opacity 1s, visibility 1.3s;
    -o-transition: opacity 1s, visibility 1.3s;
    transition: opacity 1s, visibility 1.3s;
    display:none !important;
}

.advanced-search.open{
  visibility:visible;
   opacity: 1;
   -moz-transition: opacity 1s, visibility 1.3s;
   -webkit-transition: opacity 1s, visibility 1.3s;
   -o-transition: opacity 1s, visibility 1.3s;
   transition: opacity 1s, visibility 1.3s;
}


//search
.results {
  .filter-nav {
    width: 101%;
    display: flex;
    justify-content: flex-end;
    padding: 0.75rem;
    background-color: #f6f2eb;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0 -2px;

    .filter-icon {
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
        width: 40px;
        height: 40px;
        stroke-width: 25px;
      }
    }

    .close-icon {
      display: none;
    }
  }

  .filter-nav:has(.active-item) {
    .filter-icon {
      display: none;
    }

    .close-icon {
      width: 50px;
      height: 50px;
      position: relative;
      display: block;
      cursor: pointer;
      z-index: 999;

      span {
        background-color: #000000;
        display: block;
        height: 2px;
        width: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
      }

      span:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    
      span:nth-child(2) {
          transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  .filter-nav-fixed {
    position: fixed;
    top: 0px;
    z-index: 999;
    padding: .75rem 30px;
  }
}

#search-form{
  //max-width: 800px;
}
.facets{
  display: none;

  ul{
    font-size: 0.9rem;
  }

  .search-facet > h3{
    margin-bottom: 0.2rem;
  }
  .search-facet-items{
    margin-bottom: 0.5rem;
  }

  .more-link, .less-link{
    i{
      margin-right: 9px;
    }
  }

  .search-facet-item {
    a {
      font-size: 16px;
    }
  }

  .search-facet-item {
    span {
      color: #000000;
    }
    a {
      display: inline-block;
      position: relative;
      padding-left: 22px;
    }

    a::before {
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      width: 1.5em;
      content: "\f0c8";
      height: 10px;
      text-align: right;
      padding-right: 15px;
      width: 10px;
      position: absolute;
      left: 0;
      color: #000000;
    }

    .active {
      a::before {
        content: "\f14a";
      }
    }
  }
}

.facets-group {
  width: 100%;
  position: fixed;
  right: 0;
  top: 74px;
  height: calc(100vh - 74px);
  transform: translateX(100%);
  background-color: #f6f2eb;
  z-index: 999;
  padding: 30px 0 80px;

  .facets {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 170px);
    overflow-x: auto;
    padding: 0 40px;
  }
}

.facets-group.open-facets-list {
  display: block;
  transform: translateX(0%);
  width: 100%;

  .search-facet {
    display: block;
  }

  .search-facet-items {
    /*display: flex;
    flex-direction: column;
    gap: 5px;*/

    .search-facet-item {
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .facets-group {
    width: 25%;
    position: unset;
    height: auto;
    transform: translateX(0%);
    background-color: transparent;
    z-index: 0;
    padding: .75rem;

    .facets {
      width: auto;
      display: block;
      height: auto;
      overflow-x: auto;
      padding: 0;
    }
  }

  .facets-group.facets-group.open-facets-list {
    width: 25%;
  }
}

.grid-item{
  .title{
    line-height: 1.6;
  }
}

.resource-thumbnail img{
  width: 100%;
}
.resource-metadata{
  padding: 1rem;
  background: white;
  min-height: 160px;

  h4 span{
      border-bottom: 2px solid $primary;
  }
}

.grid-item .resource-metadata{
  min-height: auto;
}

.resource-thumbnail{
  line-height: 0;
}

.list {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.grid-results {
  .grid-col {
    width: 100%;

    .grid-item {
      margin: 1rem 0 1rem 0;
    }
  }

  .grid-col--2, .grid-col--3, .grid-col--4 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .grid-results {
    .grid-col {
      width: 50%;

      .grid-item {
        margin: .8rem .8rem 1rem .8rem;
      }
    }

    .grid-col--3, .grid-col--4 {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .results {
    margin-top: -20px;

    .container.is-fluid {
      padding: 0;

      .columns {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .results {
    .filter-nav {
      display: none;
    }

    .facets {
      display: block;
    }
  }

  .grid-results {
    .grid-col {
      width: 33.33%;
    }

    .grid-col--3, .grid-col:nth-child(3) {
      display: block;
    }

    .grid-col--4 {
      display: none;
    }
  }
}

.list{
  display:block !important;

  .grid-col{
    width:100%;
    display: block;

    .grid-link-wrapper{
      display:block;
      display:flex;
    }

    .grid-item{
      flex-wrap: wrap;

      .resource-thumbnail{
        padding-right:1rem;
        max-width: 100px;
      }

      .resource-metadata{
        flex: 1;
        max-width: 650px;
      }
    }
  }
}

.results{
  .grid-link-wrapper{
    color: #666;
    transition: all 400ms ease-out;

    &:hover{
      opacity: 0.8;
    }
  }
  .description{
    font-size: 0.9rem;
  }
}

.item-set-items{
  padding: 0rem 0 2rem 0;
  margin: 1.5rem 0;
  border-bottom: 1px solid rgba($text,0.2);
}

.resource-link{
  display: flex;
  align-items: center;
  background: #fafafa;
  img{
    width:75px;
  }
  .resource-name{
    padding-left:1rem;
  }
}

//item page 
.slider-nav {
  .slick-track {
    width: fit-content !important;
  }
  .slick-slide {
    width: 40px;
  }
}

@media screen and (max-width: 768px) {
  .slick-slide img{
    max-height: unset;
  }
}

@media screen and (min-width: 768px) {
  .slide-wrap{
    background: #e3dfd9;
    padding: 2rem;
  }
}

//item-set page
.item-set {
  .item-set-info-box {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .item-set {
    .item-set-info-box {
      flex-direction: unset;
    }
  }
}

//news-overview page
@media screen and (max-width: 768px) {
  .news-items-section {
    .columns.is-multiline {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 30px;

      .news-item {
        .columns {
          display: flex;
          flex-direction: column;
          gap: 0;
  
          .column {
            padding: 0;
  
            a:has(img) {
              display: block;
              height: 100%;
              width: 100%;
  
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

//footer

footer{
  width: 100%;
  z-index: 0;
  background: #242424 !important;
  min-height: 18rem;
  color: white;

  a{
    color: white;

    &:hover{
      color: rgba(white,0.9);
    }
  }

  img{
    height:55px;
  }

  li {
    border-bottom: 1px solid rgba(white,0.5);;
  }

  .logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

//scroll to top button
.scroll-to-top-button {
  width: 50px;
  height: 50px;
  background-color: $primary;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 39;

  svg {
    width: 20px;
    margin-left: -5px;
  }
}

@media screen and (min-width: 1024px) { 
  .scroll-to-top-button {
      display: none;
  }
}

//banner
@media screen and (max-width: 1024px) {
  .other-banner {
    height: 80px;

    .hero-overlay {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      .hero-body {
        padding: 0;
        
        .container {
          .columns {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;

            .logo-column {
              padding: 0;
              padding-left: 1.5rem;
              width: calc(30px + 1.5rem);
              height: 49px;
              flex-basis: auto;
              flex-grow: 0;
              flex-shrink: 0;

              img {
                padding: 0;
                width: 30px;
              }
            }

            .column:has(.title) {
              padding: 0;

              .title {
                font-size: 20px;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .subtitle {
      display: none;
    }
  }
}