/* main: style.scss */
$family-primary: 'Raleway', sans-serif;
$family-secondary: 'Manrope', sans-serif;
$primary: #5ebec4;

$info: #00407a;
$dark: #00407a;
$text: #333;
$link: $primary;
$navbar-item-color: $primary;
$section-padding: 3rem 1.5rem 3rem 1.5rem;
$navbar-height:4rem;
$border: #b3b3b3;
//$body-background-color: #f1f1f1;

//card
$card-shadow: none;
$card-header-background-color: transparent !default
$card-header-padding: 0.75rem 1rem !default
$card-header-shadow: none;
$card-header-weight: 600 !default
$card-content-background-color: transparent !default
$card-content-padding: 1.5rem !default
$card-footer-background-color: transparent !default
$card-footer-padding: 0.75rem !default
$card-footer-border-top: 1px solid $border;

//box
$box-radius: 0px;
$box-shadow: none;
$box-background-color: #fff;
$box-color: $text;
$box-padding: 1.5rem !default;

$modal-background-background-color:rgba($primary,0.86);

//form
$control-radius:0;
$input-radius:0;

