#local-header li:first::before{
    content: "home";
    vertical-align: middle;
    font-family: Material Icons;
    text-transform: lowercase;
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    display: inline-block;
    margin-right: 3px;
}
